{
  "logOptions": {
    "level": "debug",
    "logType": 0,
    "callerEnabled": false
  },
  "echoHttpOptions": {
    "name": "algorithmia-backend",
    "port": ":9090",
    "development": true,
    "timeout": 30,
    "basePath": "",
    "host": "http://localhost",
    "debugHeaders": true,
    "httpClientDebug": true,
    "debugErrorsResponse": true,
    "sessionSecret": ""
  },
  "gormOptions": {
    "host": "localhost",
    "port": 5432,
    "user": "",
    "password": "",
    "dbName": "algorithmia",
    "sslMode": false
  },
  "gomailOptions": {
    "host": "live.smtp.mailtrap.io",
    "port": 587,
    "username": "api",
    "password": ""
  }
}
